/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; // Cor de fundo das suas imagens
    font-family: 'Inter', sans-serif; // Fonte moderna parecida com a do layout
}